ghostty/dot-config/ghostty/background.png
ghostty/dot-config/ghostty/backgrounds/*
!ghostty/dot-config/ghostty/backgrounds/.gitkeep
fastfecth/dot-config/fastfetch/logos/*
!fastfecth/dot-config/fastfetch/logos/.gitkeep
